@charset "utf-8";
.PageContent {
	background-color: #333;
	float: left;
	padding-bottom: 20px;
}
.wrapper {
	background-color: #666;
	height: 180px;	
}

#FinEng {
	background-image: url(image/enkkunappi.png);
	background-attachment: scroll;
	background-repeat: repeat;
	float: right;
	height: 50px;
	width: 50px;
	margin-top: 5px;
	margin-right: 20px;
	
}
.Navi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0CF;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	
}
#MainText {
	background-color: #000;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F00;
	text-align: center;
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom:200px;
	

}
#Makers {
	font-family: "Dash9812";
	font-size: 50px;
	color: #FFF;
	float: left;
	
	margin-top: 20px;
	
	
}


#yleistä {
	float: left;
}
#säännöt {
	float: left;
	margin-bottom: 20px;
	margin-left: 100px;
}
#galleria {
	float: left;
	margin-left: 100px;
}
.SkillBar {
	background-color: #FFF;
	height: 120px;
	background-image: url(image/cafepic.jpg);

}
#logo {
	background-image: url(image/SkillBarLogo_Clean.png);
	height: 100px;
	width: 300px;
	float: left;
	margin-top: 10px;
	
}
