@charset "utf-8";
body {
	background-color: #001
}

.PageContent {
	background-color: #333;
	padding-bottom: 20px;
}

h2 {
	font-size: 30px;
	text-decoration: underline overline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	color: blue;
	padding: 20px 16px 16px;
	margin-top: 5px;
	text-decoration: none;
}

lia:hover {
	background-color: #111
}

.active {
	background-color: black;
	color: white;
}

.wrapper {
	background-color: #666;
	heigth: auto;
	color: gray;
}

#FinEng {
	background-image: url(../image/suominappi1.png);
	float: right;
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 20px;
	
}

.Navi {
	font-size: 24px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#MainText {
	background-color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F00;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 200px;
}

p {
	line-height: 1.8;
}

.SkillBar {
	background-color: #FFF;
	height: 120px;
	background-image: url(../image/cafepic.jpg);
	background-position: left center;

}

#logo {
	background-image: url(../image/SkillBarLogo_Clean.png);
	height: 100px;
	width: 300px;
	float: left;
	margin-top: 10px;
	
}

#jako {
	float: left;
	margin-left: 500px;
}